body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
}

#im {
    width: 170px;
    padding-top: 10px;
    padding-left: 20px;
    height: 90px;
}

.topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 80px;
    align-items: center;
    height: 100px;
    box-sizing: content-box;

}

#li {
    padding-right: 20px;
    text-decoration: none;
    color: #a40000;
}

#ho {
    padding-right: 20px;
    color: black;
    text-decoration: underline;
}

.wel {
    background-color: rgb(181, 0, 0);
    color: white;
    padding-top: 2px;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 20px;
}

#welc {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;



}

.conte {
    font-size: 20px;
    display: felx;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#cone,
.tab {
    font-size: 38px;
    color: #a40000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    /* padding-top: 40px;
    padding-left: 100px; */
}

#cof {
    width: 500px;
    height: 400px;
}

.quote {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 40px;
}

.tab {
    tab-size: 4;
}

#quo {
    width: 50px;
    height: 50px;
    padding-left: 200px;
}

#das {
    width: 15%;
    height: 3%;
    padding-left: 200px;
    margin-bottom: 20px;
}

#auth {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 30px;
}

.bef {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#da {
    size: 2050px;
}

.fubl {
    background-color: #a40000;

}

.fbc {
    font-family: 'Roboto', sans-serif;
    color: ghostwhite;
    font-weight: 700;
    font-size: 22px;
}

/* .fbc {
    overflow: hidden;
    text-align: center;
} */



#da {
    color: rgb(229, 72, 72);
}

.one {
    background-color: white;
    width: 450px;
    /* height: 500px; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 150px;
    padding-bottom: 150px;
    font-family: 'Roboto', sans-serif;
}

#daet {
    color: #595959;
    font-size: 16px;
    font-weight: 300;

}

#conteq {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #5E5E5E;
}

#he {
    color: #1B1B1B;
    font-size: 22px;
    font-weight: 400;
}

#tt:hover,
#tty:hover {
    box-shadow: 2px 2px 13px 0.5px rgba(255, 255, 255, 1)
}

.box {
    /* padding-left: 40px; */
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#conti {
    text-decoration: none;
    color: #a40000;
}

#copyr {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #595959;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ttre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;

}